@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Kolory podstawowe */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;

  /* Wyliczone kolory */
  --primary-light: #5dade2;
  --secondary-dark: #27ae60;
  --accent-light: #ec7063;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--secondary-color);
  color: white;
}

button:hover {
  background-color: var(--secondary-dark);
}

.accent-text {
  color: var(--accent-color);
}
