@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Kolory podstawowe */
  --primary-color: #F5F5F5;
  --secondary-color: #6E98C8;
  --accent-color: #444444;

  /* Wyliczone kolory */
  --primary-light: #5dade2;
  --secondary-dark: #27ae60;
  --accent-light: #ec7063;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--secondary-color);
}

button {
  background-color: var(--secondary-color);
  color: white;
}

button:hover {
  background-color: var(--secondary-dark);
}

.accent-text {
  color: var(--accent-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.primary-light {
  background-color: var(--primary-light)
}

.card {
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  transition: none;
  height: auto;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.description {
  margin-top: 8px;
}

.description h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.description p {
  margin: 4px 0 0;
  color: #666;
  font-size: 0.9rem;
}

.slick-prev, .slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}